<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${titulo}">Title</title>
    <link rel="stylesheet" href="../static/style.css" />
</head>
<body>

<h1> Spring Reactive</h1>
<h2 th:text="${titulo}"></h2>
<div th:if="${param.error != null}" th:text="${param.error}"></div>
<div th:if="${param.success != null}" th:text="${param.success}"></div>

<a th:href="@{/form}">Nuevo Producto</a>
<table>
    <thead>
    <tr>
        <th>id</th>
        <th>nombre</th>
        <th>precio</th>
        <th>fecha</th>
        <th>categoría</th>
        <th>editar</th>
        <th>eliminar</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="product: ${products}">
        <td> <a th:href="@{/view/} + ${product.id}" th:text="${#strings.abbreviate(product.id,10)}"/></td>
        <td th:text="${product.name}"></td>
        <td th:text="${#numbers.formatCurrency(product.price)}"></td>
        <td th:text="${#calendars.format(product.createAt, 'dd/MM/yyyy')}"></td>
        <td th:text="${product.category.name}"></td>
        <td><a th:href="@{/form/} + ${product.id}">EDIT</a></td>
        <td><a th:href="@{/delete/} + ${product.id}"
               onclick="return confirm('Seguro que desea eliminar el producto')">
            ELIMINAR</a></td>
    </tr>
    </tbody>
</table>
</body>
</html>